/* --------------------------------- Refresh ------------------------------------ */
@font-face {
  font-family: 'boxicons';
  src: url(assets/fonts/boxicons/boxicons.ttf);
}
@font-face {
  font-family: 'arial';
  src: url(assets/fonts/arial/arial.ttf);
}
@font-face {
  font-family: 'roboto-black';
  src: url(font/Roboto-Black.ttf);
}
@font-face {
  font-family: 'roboto-bold';
  src: url(font/Roboto-Bold.ttf);
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 20%;
}
/* Loading */
.overlay {
  display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  .br_game {
    height: 3px;
    background-color: black;
    width: 90%;
    margin: 10px auto;
  }
  /* Loading */
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: #000000;
    opacity: 0.8;
    overflow: hidden;
  }
  .spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
  }
  .spinner div:first-child:after,
  .spinner div:first-child:before {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  .spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
    animation: spin 1.5s linear infinite;
  }
  @keyframes loading {
    0% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.1);
    }
  }
  /* End Loading */

/* Form */
  .form-label {
    margin: 0.8rem 0;
  }
  .form-control {
    float: right;
    text-align: center;
    display: inline-block;
    width: 55%;
    padding: .5rem .9rem;
    font-size: .8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid var(--vz-input-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .select {
    width: 55%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #555 50%), linear-gradient(135deg, #555 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    float: right;
    text-align: center;
  }
/* End Form */

  /* Sóng điện thoại */
  .background_white  {
    background: white;
  }
  .background_black {
    background: black;
  }
  .background_invi_vietcombank {
    background: #cdcdcd47;
  }
  .signal {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 10px;
    left: 304px;
    z-index: 1;
  }
  .img-signal {
    position: absolute;
    top: 75px;
    left: 782px;
    z-index: 1;
  }
  .bar {
    width: 3.5px;
    border-radius: 1.5px;
    position: absolute;
    bottom: 0;
  }
  .img-bar {
    width: 8.3px;
    border-radius: 3.5px;
    position: absolute;
    bottom: 0;
  }
  .bar:nth-child(1) {
    height: 4.8px;
    left: 4px;
  }
  .img-bar:nth-child(1) {
    height: 10.8px;
    left: 3px;
  }
  .bar:nth-child(2) {
    height: 7px;
    left: 9px;
  }
  .img-bar:nth-child(2) {
    height: 16px;
    left: 15px;
  }
  .bar:nth-child(3) {
    height: 9.7px;
    left: 14px;
  }
  .img-bar:nth-child(3) {
    height: 22.7px;
    left: 27px;
  }
  .bar:nth-child(4) {
    height: 11.9px;
    left: 19px;
  }
  .img-bar:nth-child(4) {
    height: 28.9px;
    left: 40px;
  }
  /*----------------------------------------------------- Sóng điện thoại sim 2 ----------------------------------------------------- */
  .signal-1 {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 5.5px;
    left: 304px;
    z-index: 1;
  }
  .img-signal-1 {
    position: absolute;
    top: 64px;
    left: 782px;
    z-index: 1;
  }
  .bar-1 {
    width: 3px;
    border-radius: 1.2px;
    position: absolute;
    bottom: 0;
  }
  .img-bar-1 {
    width: 8.3px;
    border-radius: 3.5px;
    position: absolute;
    bottom: 0;
  }
  .bar-1:nth-child(1) {
    height: 4px;
    left: 4px;
  }
  .img-bar-1:nth-child(1) {
    height: 9px;
    left: 1px;
  }
  .bar-1:nth-child(2) {
    height: 5px;
    left: 8.6px;
  }
  .img-bar-1:nth-child(2) {
    height: 12px;
    left: 12.2px;
  }
  .bar-1:nth-child(3) {
    height: 6.3px;
    left: 13.2px;
  }
  .img-bar-1:nth-child(3) {
    height: 15.3px;
    left: 23.5px;
  }
  .bar-1:nth-child(4) {
    height: 7.8px;
    left: 17.8px;
  }
  .img-bar-1:nth-child(4) {
    height: 18.9px;
    left: 35px;
  }
  .signal2 {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 11px;
    left: 304px;
    z-index: 1;
  }
  .img-signal2 {
    position: absolute;
    top: 77px;
    left: 782px;
    z-index: 1;
  }
  .bar2 {
    width: 3px;
    height: 3.7px;
    border-radius: 1.2px;
    position: absolute;
    bottom: 0;
  }
  .img-bar2 {
    width: 8px;
    height: 8.7px;
    border-radius: 3.2px;
    position: absolute;
    bottom: 0;
  }
  .bar2:nth-child(1) {
    left: 4px;
  }
  .img-bar2:nth-child(1) {
    left: 1px;
  }
  .bar2:nth-child(2) {
    left: 8.6px;
  }
  .img-bar2:nth-child(2) {
    left: 12.2px;
  }
  .bar2:nth-child(3) {
    left: 13.2px;
  }
  .img-bar2:nth-child(3) {
    left: 23.5px;
  }
  .bar2:nth-child(4) {
    left: 17.8px;
  }
  .img-bar2:nth-child(4) {
    left: 35px;
  }
  .data_auto {
    color: red;
  }
  /* Wifi */
  .wifi {
    width: 18px;
    position: absolute;
    top: 15px;
    left: 333px;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
  }
  .img-wifi {
    width: 45px;
    position: absolute;
    top: 35px;
    left: 840px;
    z-index: 1;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .img-lte {
    width: 45px;
    position: absolute;
    top: 40px;
    left: 840px;
    z-index: 1;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
  }
  .img_wifi {
    width: 100%;
  }
  /* ------------------- Pin ------------------ */
  .battery-level {
    position: absolute;
    border-radius: 2px;
    height: 8.4px;
    width: 19.7px;
    top: 20.45px;
    left: 360.6px;
  }
  .img-battery {
    position: absolute;
    border-radius: 4px;
    height: 22px;
    width: 50px;
    top: 50.45px;
    left: 901px;
    z-index: 1;
  }
  .img-battery-vietinbank {
    position: absolute;
    border-radius: 4px;
    height: 22.5px;
    top: 49px;
    left: 901px;
    z-index: 1;    
    background: white;
  }
  .ruler {
    position: fixed;
    top: 241px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
  }
  .ruler_doc {
    position: fixed;
    top: 0;
    left: 380px;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: black;
    z-index: 1;
  }
  .ruler_doc2 {
    position: fixed;
    top: 0;
    left: 800px;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: black;
    z-index: 1;
  }
  .container_box {
    display: flex;
  }
  .box {
    margin: 10px;
  }
  .demo_image-container {
    position: relative;
    width: 400px;
  }
  .create-image-container {
    position: relative;
    width: 400px;
  }
  .photo_style {
    width: 100%;
  }
  .image-caption {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 20px;
    color: #e6eaf2;
    font-weight: 500;
    font-family: system-ui;
  }
  .notify-form {
    color: red;
    text-align: center;
  }
  /* ---------------------------------Css cho Acb------------------------------------ */
  .time_acb{
    position: absolute;
    top: 12px;
    left: 24px;
    color: white;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .img-time_acb {
    position: absolute;
    left: 79px;
    color: #fffffff5;
    width: 46px;
    font-family: sans-serif;
    font-weight: 600;
    top: 33px;
    font-size: 38.5px;
    z-index: 1;
  }
  .total_price_number_acb{
    position: absolute;
    top: 181px;
    left: 17px;
    color: #0c6cc2;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    width: 366px;
    z-index: 1;
  }
  .img-total_price_number_acb {
    position: absolute;
    top: 454px;
    left: 43px;
    color: #0c6cc2;
    font-size: 52.5px;
    font-family: sans-serif;
    font-weight: 700;
    text-align: center;
    width: 913px;
    z-index: 1;
  }
  .total_price_text_acb{
    position: absolute;
    top: 217px;
    left: 17px;
    color: black;
    font-size: 15px;
    font-family: system-ui;
    text-align: center;
    z-index: 10;
    width: 366px;
  }
  .img-total_price_text_acb {
    position: absolute;
    top: 543px;
    left: 43px;
    color: #000000a6;
    font-size: 40.5px;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    width: 913px;
    z-index: 1;
  }
  .order_time_acb{
    position: absolute;
    top: 317px;
    left: 127px;
    color: black;
    font-size: 16.2px;
    font-family: system-ui;
    z-index: 10;
    font-weight: 500;
    opacity: 0.8;
    width: 230px;
    text-align: right;
  }
  .img-order_time_acb {
    position: absolute;
    top: 792px;
    left: 388px;
    color: black;
    font-size: 41.2px;
    font-family: system-ui;
    z-index: 10;
    font-weight: 500;
    opacity: 0.8;
    width: 505px;
    text-align: right;
  }
  .order_date_acb{
    position: absolute;
    top: 357px;
    left: 127px;
    color: black;
    font-size: 16.2px;
    font-family: system-ui;
    z-index: 10;
    font-weight: 500;
    opacity: 0.8;
    width: 230px;
    text-align: right;
  }
  .img-order_date_acb {
    position: absolute;
    top: 895px;
    left: 388px;
    color: black;
    font-size: 41.2px;
    font-family: system-ui;
    z-index: 10;
    font-weight: 500;
    opacity: 0.8;
    width: 505px;
    text-align: right;
  }
  .transferer_name_acb {
    position: absolute;
    top: 498px;
    left: 49px;
    color: rgb(22 78 167);
    font-size: 17px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 500;
    width: 320px;
  }
  .img-transferer_name_acb {
    position: absolute;
    top: 1246px;
    left: 127px;
    color: rgb(22 78 167);
    font-size: 43px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 500;
    width: 750px;
  }
  .transferer_number_acb {
    position: absolute;
    top: 520px;
    left: 49px;
    color: rgb(43 54 150);
    font-size: 17px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 700;
    width: 320px;
  }
  .img-transferer_number_acb {
    position: absolute;
    top: 1300px;
    left: 127px;
    color: rgb(22 78 167);
    font-size: 43px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 700;
    width: 750px;
  }
  .recipient_name_acb {
    position: absolute;
    top: 626px;
    left: 177px;
    color: #4a5562;
    font-size: 16px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 190px;
  }
  .img-recipient_name_acb {
    position: absolute;
    top: 1566px;
    left: 415px;
    color: #000000c2;
    font-size: 41px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 500px;
  }
  .bank_name_acb {
    position: absolute;
    top: 671px;
    left: 177px;
    color: #4a5562;
    font-size: 16px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    line-height: 1;
    font-weight: 500;
    width: 190px;
  }
  .img-bank_name_acb {
    position: absolute;
    top: 1677px;
    left: 440px;
    color: #000000c2;
    font-size: 41px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 475px;
    line-height: 1.1;
  }
  .recipient_number_acb {
    position: absolute;
    top: 710px;
    left: 177px;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 190px;
  }
  .img-recipient_number_acb {
    position: absolute;
    top: 1774px;
    left: 454px;
    color: #000000c2;
    font-size: 41px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 460px;
  }
  .bank_now_acb {
    position: absolute;
    top: 821px;
    left: 275px;
    color: black;
    font-size: 16px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: max-content;
  }
  .img-bank_now_acb {
    position: absolute;
    top: 2050px;
    left: 454px;
    color: #000000c2;
    font-size: 41px;
    font-family: system-ui;
    text-align: right;
    z-index: 10;
    font-weight: 500;
    width: 460px;
  }
  .button_to_img_acb {
    margin-top: 15px;
  }
  /*------------------------------------ Css cho Agribank ------------------------------------*/
  .time-agribank{
    position: absolute;
    top: 12px;
    left: 24px;
    color: white;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .total_price_number-agribank{
    position: absolute;
    top: 301px;
    left: 37px;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    z-index: 10;
    color:white;
    width: 320px;
  }
  .img-total_price_number-agribank {
    position: absolute;
    top: 752px;
    left: 94px;
    font-size: 60px;
    font-weight: 500;
    text-align: left;
    z-index: 10;
    color: white;
    width: 840px;
  }
  .recipient_number-agribank {
    position: absolute;
    top: 382px;
    left: 32px;
    color: black;
    font-size: 19px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    opacity: 0.7;
  }
  .img-recipient_number-agribank {
    position: absolute;
    top: 961px;
    left: 79px;
    color: BLACK;
    font-size: 45.5px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
    opacity: 0.7;
    width: 840px;
  }
  .recipient_name-agribank {
    position: absolute;
    top: 459px;
    left: 32px;
    color: #d35a02;
    font-size: 18px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    width: 339px;
  }
  .img-recipient_name-agribank {
    position: absolute;
    top: 1147px;
    left: 79px;
    color: #d35a02;
    font-size: 45.5px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    opacity: 0.7;
    width: 840px;
  }
  .trade_code-agribank {
    position: absolute;
    top: 532px;
    left: 32px;
    color: BLACK;
    font-size: 20px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
  opacity: 0.7;
  }
  .img-trade_code-agribank {
    position: absolute;
    top: 1335px;
    left: 79px;
    color: BLACK;
    font-size: 45.5px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
    opacity: 0.7;
    width: 840px;
  }
  .recipient_bank-agribank {
    position: absolute;
    top: 608px;
    left: 32px;
    font-size: 18px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
  opacity: 0.8;
  }
  .img-recipient_bank-agribank {
    position: absolute;
    top: 1522px;
    left: 79px;
    color: BLACK;
    font-size: 45.5px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
    opacity: 0.7;
    width: 840px;
  }
  .trade_time {
    color: #00000080;
    position: absolute;
    top: 756px;
    left: 32px;
    font-size: 19px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 300;
  }
  .img-trade_time {
    position: absolute;
    top: 1893px;
    left: 79px;
    color: BLACK;
    font-size: 45.5px;
    font-family: system-ui;
    text-align: left;
    z-index: 10;
    font-weight: 330;
    opacity: 0.7;
    width: 840px;
  }
  /*------------------------------------ Css cho BIDV ------------------------------------*/
  .time-bidv {
    position: absolute;
    top: 12px;
    left: 24px;
    color: black;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .content1 {
    position: absolute;
    top: 224px;
    left: 37px;
    color: #000000c7;
    font-size: 16px;
    width: 46px;
    font-family: revert;
    font-weight: 400;
    z-index: 10;
    width: max-content;
  }
  .img-content1 {
    position: absolute;
    top: 560px;
    left: 42px;
    color: #000000c7;
    font-size: 41px;
    width: 46px;
    font-family: revert;
    font-weight: 400;
    z-index: 10;
    width: 915px;
    text-align: center;
  }
  .total_price-bidv {
    position: absolute;
    top: 244px;
    left: 60px;
    color: #000000c7;
    font-size: 17px;
    font-family: arial;
    font-weight: 400;
    z-index: 10;
    width: max-content;
    text-align: center;
  }
  .img-total_price-bidv {
    position: absolute;
    top: 609px;
    left: 42px;
    color: #000000c7;
    font-size: 41px;
    font-family: arial;
    font-weight: 400;
    z-index: 10;
    width: 915px;
    text-align: center;
  }
  #output_total_price-bidv {
    font-family: arial;
    text-align: right;
    font-size: 17px;
    font-weight: 600;
    color: #0066ac;
  }
  #img-output_total_price-bidv {
    font-family: arial;
    text-align: right;
    font-size: 42px;
    font-weight: 600;
    color: #0066ac;
  }
  .infomation_recipient-bidv {
    position: absolute;
    top: 266px;
    left: 40px;
    color: #000000c7;
    font-size: 17px;
    font-weight: 400;
    z-index: 10;
    max-width: 325px;
    text-align: center;
    display: block;
    line-height: 1.1;
    font-family: arial;
  }
  .img-infomation_recipient-bidv {
    position: absolute;
    top: 668px;
    left: 42px;
    color: #000000c7;
    font-size: 41px;
    font-family: arial;
    font-weight: 400;
    z-index: 10;
    width: 915px;
    text-align: center;
  }
  .color_bl {
    color: #0066ac;
    font-weight: 600;
  }
  .code_number-bidv {
    position: absolute;
    top: 368px;
    left: 228px;
    color: black;
    font-size: 19px;
    z-index: 10;
    max-width: 325px;
    text-align: center;
    display: block;
    line-height: 1.1;
    font-family: monospace;
    font-weight: bold;
  }
  .img-code_number-bidv {
    position: absolute;
    top: 919px;
    left: 575px;
    color: black;
    font-size: 47px;
    z-index: 10;
    max-width: 504px;
    text-align: center;
    display: block;
    line-height: 1.1;
    font-family: monospace;
    font-weight: bold;
  }
  /*------------------------------------ Css cho Mbbank ------------------------------------*/
  .done_bill {
    position: absolute;
    top: 97px;
    left: 84px;
    color: #462a20;
    font-size: 16.4px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: max-content;
  }
  .total_price-mbbank {
    position: absolute;
    top: 116px;
    left: 0px;
    color: #462a20;
    font-size: 42px;
    font-family: system-ui;
    font-weight: 700;
    z-index: 10;
    width: 401px;
    text-align: center;
  }
  .recipient_name-mbbank {
    position: absolute;
    top: 289px;
    left: 74px;
    color: black;
    font-size: 18px;
    font-family: system-ui;
    font-weight: 700;
    z-index: 10;
    width: max-content;
    text-align: left;
  }
  .recipient_number-mbbank {
    position: absolute;
    top: 310px;
    left: 74px;
    color: #000000;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: max-content;
    text-align: left;
  }
  .recipient_bank_text-mbbank {
    position: absolute;
    top: 328px;
    left: 74px;
    color: #000000;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 450;
    z-index: 10;
    max-width: 310px;
    text-align: left;
  }
  .source_account-mbbank {
    display: block;
    position: absolute;
    top: 413px;
    left: 173px;
    color: #000000;
    font-size: 17px;
    font-family: system-ui;
    font-weight: 450;
    z-index: 10;
    width: 187px;
    text-align: right;
  }
  .source_name-mbbank {
    position: absolute;
    top: 431px;
    left: 60px;
    color: #000000;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 700;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .content-mbbank {
    position: absolute;
    top: 462px;
    left: 60px;
    color: #0e0e0ee0;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .time-mbbank {
    position: absolute;
    top: 495px;
    left: 60px;
    color: #000000e0;
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .hinh_thuc_chuyen-mbbank {
    position: absolute;
    top: 526px;
    left: 60px;
    color: #000000e0;
    font-size: 16.4px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .text_247-mbbank {
    position: absolute;
    top: 544px;
    left: 60px;
    color: #000000e0;
    font-size: 16.4px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .trade_code-mbbank {
    position: absolute;
    top: 574px;
    left: 60px;
    color: #000000e0;
    font-size: 16.4px;
    font-family: system-ui;
    font-weight: 500;
    z-index: 10;
    width: 300px;
    text-align: right;
  }
  .custom-icon {
    position: absolute;
    top: 14px;
    left: 67px;
    width: 10px;
  }
  .img-custom-icon {
    position: absolute;
    top: 48px;
    left: 192px;
    width: 27px;
  }
  /* ------------------------------ CSS cho Momo --------------------------------------- */
  .clock-momo{
    position: absolute;
    top: 12px;
    left: 24px;
    color: white;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .recipient_name-momo{
    position: absolute;
    top: 118px;
    left: 102px;
    font-size: 15px;
    font-family: inherit;
    font-weight: 500;
    width: 270px;
    z-index: 10;
    color: #000000ab;
  }
  .img-recipient_name-momo {
    position: absolute;
    top: 297px;
    left: 255px;
    font-size: 38px;
    font-family: inherit;
    font-weight: 500;
    width: 680px;
    z-index: 10;
    color: #000000ab;
    line-height: 1.2;
  }
  .total_price-momo{
    position: absolute;
    top: 155px;
    left: 102px;
    font-size: 26px;
    font-family: inherit;
    font-weight: bold;
    width: 270px;
    z-index: 10;
    color: #000000d4;
  }
  .img-total_price-momo {
    position: absolute;
    top: 397px;
    left: 255px;
    font-size: 64px;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
  }
  .time-momo{
    position: absolute;
    top: 239px;
    left: 99px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    width: 270px;
    z-index: 10;
    color: #000000d9;
    text-align: right;
  }
  .img-time-momo {
    position: absolute;
    top: 601px;
    left: 245px;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
    text-align: right;
  }
  .trade_code-momo {
    position: absolute;
    top: 289px;
    left: 80px;
    font-size: 15.8px;
    font-family: revert;
    font-weight: 500;
    width: 270px;
    z-index: 10;
    color: black;
    text-align: right;
  }
  .img-trade_code-momo {
    position: absolute;
    top: 726px;
    left: 200px;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
    text-align: right;
  }
  .transfer_bank-momo{
    position: absolute;
    top: 320px;
    left: 99px;
    font-size: 15px;
    font-family: revert;
    font-weight: 500;
    width: 270px;
    z-index: 10;
    color: black;
    text-align: right;
  }
  .img-transfer_bank-momo {
    position: absolute;
    top: 802px;
    left: 244px;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
    text-align: right;
  }
  .overheads-momo{
    position: absolute;
    top: 351px;
    left: 99px;
    font-size: 15px;
    font-family: revert;
    font-weight: 600;
    width: 270px;
    z-index: 10;
    color: #000000d1;
    text-align: right;
  }
  .img-overheads-momo {
    position: absolute;
    top: 878px;
    left: 244px;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
    text-align: right;
  }
  .recipient_number-momo{
    position: absolute;
    top: 503px;
    left: 99px;
    font-size: 16px;
    font-family: revert;
    font-weight: 600;
    width: 270px;
    z-index: 10;
    color: #000000e6;
    text-align: right;
  }
  .img-recipient_number-momo {
    position: absolute;
    top: 1260px;
    left: 245px;
    font-size: 38px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
    text-align: right;
  }
  .banking_name-momo{
    position: absolute;
    top: 537px;
    left: 154px;
    font-size: 16px;
    font-family: revert;
    font-weight: 600;
    width: 215px;
    z-index: 10;
    color: #000000e6;
    text-align: right;
  }
  .img-banking_name-momo {
    position: absolute;
    top: 1348px;
    left: 245px;
    text-align: right;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
  }
  .banking_bank-momo{
    position: absolute;
    top: 577px;
    left: 200px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 700;
    width: 170px;
    z-index: 10;
    color: #000000e6;
    text-align: right;
    line-height: 1.2;
  }
  .img-banking_bank-momo {
    position: absolute;
    top: 1435px;
    left: 506px;
    text-align: right;
    font-size: 39px;
    font-family: system-ui;
    font-weight: 600;
    width: 420px;
    z-index: 10;
    color: black;
    line-height: 1.2;
  }
  .total_price2-momo {
    position: absolute;
    top: 629px;
    left: 200px;
    font-size: 15.5px;
    font-weight: 600;
    width: 170px;
    z-index: 10;
    color: #000000e6;
    text-align: right;
  }
  .img-total_price2-momo {
    position: absolute;
    top: 1568px;
    left: 245px;
    text-align: right;
    font-size: 38px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
  }
  .message-momo {
    position: absolute;
    top: 662px;
    left: 200px;
    font-size: 14.5px;
    font-weight: 600;
    width: 170px;
    z-index: 10;
    color: #000000e6;
    text-align: right;
  }
  .img-message-momo {
    position: absolute;
    top: 1655px;
    left: 245px;
    text-align: right;
    font-size: 38px;
    font-family: system-ui;
    font-weight: 600;
    width: 680px;
    z-index: 10;
    color: black;
    line-height: 1.2;
  }
  /* -------------------------- Css cho Msb ---------------------------------------- */
  .clock-msb {
    position: absolute;
    top: 12px;
    left: 24px;
    color: black;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .holder_name-msb {
    position: absolute;
    top: 280px;
    left: 131px;
    color: black;
    font-size: 15px;
    text-align: right;
    width: 235px;
    z-index: 1;
    font-family: unset;
    font-weight: bold;
  }
  .img-holder_name-msb {
    position: absolute;
    top: 698px;
    left: 486px;
    color: black;
    font-size: 37px;
    text-align: right;
    width: 425px;
    z-index: 1;
    font-family: unset;
    font-weight: 600;
  }
  .total_price-msb {
    position: absolute;
    top: 322px;
    left: 131px;
    color: black;
    font-size: 15px;
    text-align: right;
    width: 235px;
    z-index: 1;
    font-family: system-ui;
    font-weight: bold;
  }
  .img-total_price-msb {
    position: absolute;
    top: 803px;
    left: 486px;
    color: black;
    font-size: 37.5px;
    text-align: right;
    width: 425px;
    z-index: 1;
    font-family: system-ui;
    font-weight: bold;
  }
  .recipient_number-msb {
    position: absolute;
    top: 375px;
    left: 131px;
    color: #000000e3;
    font-size: 15px;
    text-align: right;
    width: 235px;
    z-index: 1;
    font-family: system-ui;
    font-weight: bold;
  }
  .img-recipient_number-msb {
    position: absolute;
    top: 938px;
    left: 486px;
    color: black;
    font-size: 37px;
    text-align: right;
    width: 425px;
    z-index: 1;
    font-family: unset;
    font-weight: 600;
  }
  .recipient_name-msb {
    position: absolute;
    top: 428px;
    left: 190px;
    color: #000000e3;
    font-size: 15px;
    text-align: right;
    width: 175px;
    z-index: 1;
    font-family: system-ui;
    font-weight: bold;
  }
  .img-recipient_name-msb {
    position: absolute;
    top: 1066px;
    left: 494px;
    color: black;
    font-size: 37px;
    text-align: right;
    width: 417px;
    z-index: 1;
    font-family: unset;
    font-weight: 600;
  }
  .message-msb {
    position: absolute;
    top: 500px;
    left: 225px;
    color: #000000e3;
    font-size: 15.5px;
    text-align: right;
    width: 140px;
    z-index: 1;
    font-family: system-ui;
    font-weight: bold;
  }
  .img-message-msb {
    position: absolute;
    top: 1254px;
    left: 486px;
    color: black;
    font-size: 37px;
    text-align: right;
    width: 425px;
    z-index: 1;
    font-family: unset;
    font-weight: 600;
  }
  /* ------------------------------------- Css cho Sacombank -----------------------------------*/
  .clock-sacombank {
    position: absolute;
    top: 12px;
    left: 24px;
    color: white;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .recipient_number-sacombank {
    position: absolute;
    top: 282px;
    left: 5px;
    font-size: 17.5px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 390px;
    text-align: center;
  }
  .img-recipient_number-sacombank {
    position: absolute;
    top: 705px;
    left: 0;
    font-size: 43.5px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 1000px;
    text-align: center;
  }
  .total_price-sacombank {
    position: absolute;
    top: 308px;
    left: 5px;
    font-size: 18.3px;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 1;
    width: 390px;
    text-align: center;
    color: #24397c;
  }
  .img-total_price-sacombank {
    position: absolute;
    top: 770px;
    left: 0;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 1;
    width: 1000px;
    text-align: center;
    color: #24397c;
  }
  .time-sacombank {
    position: absolute;
    top: 333px;
    left: 5px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 390px;
    text-align: center;
    color: #7b7f8b;
  }
  .img-time-sacombank {
    position: absolute;
    top: 833px;
    left: 0;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 1000px;
    text-align: center;
    color: #7b7f8b;
  }
  .trade_code-sacombank {
    position: absolute;
    top: 389px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-trade_code-sacombank {
    position: absolute;
    top: 974px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .cate_trade-sacombank {
    position: absolute;
    top: 431px;
    left: 130px;
    font-size: 17.4px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 253px;
    text-align: right;
    line-height: 1.2;
  }
  .img-cate_trade-sacombank {
    position: absolute;
    top: 1074px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
    line-height: 1.3;
  }
  .from_number-sacombank {
    position: absolute;
    top: 488px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-from_number-sacombank {
    position: absolute;
    top: 1221px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .recipient_number2-sacombank {
    position: absolute;
    top: 527px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-recipient_number2-sacombank {
    position: absolute;
    top: 1317px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .recipient_bank-sacombank {
    position: absolute;
    top: 566px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-recipient_bank-sacombank {
    position: absolute;
    top: 1415px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .message-sacombank {
    position: absolute;
    top: 604px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-message-sacombank {
    position: absolute;
    top: 1511px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .total_price2-sacombank {
    position: absolute;
    top: 643px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-total_price2-sacombank {
    position: absolute;
    top: 1608px;
    left: 357px;
    font-size: 43px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  .total_price3-sacombank {
    position: absolute;
    top: 720px;
    left: 188px;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    z-index: 1;
    width: 195px;
    text-align: right;
  }
  .img-total_price3-sacombank {
    position: absolute;
    top: 1803px;
    left: 357px;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: 500;
    z-index: 1;
    width: 600px;
    text-align: right;
  }
  /* ------------------------------------- Css cho Techcombank -----------------------------------*/
  .clock-techcombank {
    position: absolute;
    top: 12px;
    left: 24px;
    color: black;
    font-size: 15px;
    width: 46px;
    font-family: system-ui;
    font-weight: 600;
    z-index: 1;
  }
  .block_recipient_name-techcombank {
    position: absolute;
    top: 206px;
    left: 30px;
    color: black;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    width: 350px;
    z-index: 1;
    line-height: 1.2;
  }
  .img-block_recipient_name-techcombank {
    position: absolute;
    top: 514px;
    left: 64px;
    color:black;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  .total_price-techcombank {
    font-weight: 700;
    font-family: system-ui;
  }
  .recipient_bank-techcombank {
    position: absolute;
    top: 405px;
    left: 25px;
    color: black;
    font-size: 17.5px;
    font-family: sans-serif;
    font-weight: bold;
    width: 360px;
    z-index: 1;
  line-height: 1.3;
  }
  .img-recipient_bank-techcombank {
    position: absolute;
    top: 1018px;
    left: 64px;
    color:black;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  .recipient_number-techcombank {
    position: absolute;
    top: 426px;
    left: 25px;
    color: black;
    font-size: 18.5px;
    font-family: 'Poppins';
    font-weight: 600;
    width: 360px;
    z-index: 1;
  }
  .img-recipient_number-techcombank {
    position: absolute;
    top: 814px;
    left: 64px;
    color:black;
    font-size: 75px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  .message-techcombank {
    position: absolute;
    top: 499px;
    left: 25px;
    color: black;
    font-size: 17px;
    font-family: 'Poppins';
    font-weight: 600;
    width: 360px;
    z-index: 1;
  }
  .img-message-techcombank {
    position: absolute;
    top: 1253px;
    left: 64px;
    color: black;
    font-size: 44px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  .time-techcombank {
    position: absolute;
    top: 570px;
    left: 25px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    width: 360px;
    z-index: 1;
    font-family: system-ui;
  }
  .img-time-techcombank {
    position: absolute;
    top: 1432px;
    left: 64px;
    color: black;
    font-size: 46px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  .trade_code-techcombank {
    position: absolute;
    top: 640px;
    left: 25px;
    color: black;
    font-size: 19px;
    font-weight: 700;
    width: 360px;
    z-index: 1;
    font-family: system-ui;
  }
  .img-trade_code-techcombank {
    position: absolute;
    top: 1614px;
    left: 64px;
    color: black;
    font-size: 45px;
    font-family: sans-serif;
    font-weight: bold;
    width: 880px;
    z-index: 1;
    line-height: 1.2;
  }
  /* ------------------------------------- Css cho Vietcombank -----------------------------------*/
  #new_bill10 {
    width: 782.5px;
    position: relative;
  }
  .clock-vietcombank {
    position: absolute;
    top: 28px;
    width: max-content;
    left: 59px;
    color: white;
    font-family: arial;
    font-size: 28px;
    font-weight: 500;
  }
  .custom_icon-vietcombank {
    position: absolute;
    top: 39px;
    left: 139px;
    width: 16px;
  }
  .battery-vietcombank {
    position: absolute;
    top: 38px;
    left: 704px;
    height: 17.5px;
    width: 39px;
    background-color: white;
    border-radius: 4px;
  }
  .wifi-vietcombank {
    position: absolute;
    top: 33px;
    left: 657px;
    width: 35px;
  }
  .text_wifi-vietcombank {
    position: absolute;
    top: 30px;
    left: 659px;
    width: 35px;
    color: white;
    font-weight: 500;
    font-size: 22px;
  }
  .signal-vietcombank {
    height: 20px;
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 609px;
  }
  .bar-vietcombank {
    width: 6.5px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }
  .bar-vietcombank:nth-child(1) {
    height: 8.5px;
    left: 2px;
  }
  .bar-vietcombank:nth-child(2) {
    height: 12.5px;
    left: 12px;
  }
  .bar-vietcombank:nth-child(3) {
    height: 17px;
    left: 22px;
  }
  .bar-vietcombank:nth-child(4) {
    height: 22px;
    left: 32px;
  }
  .signal1-vietcombank {
    height: 20px;
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 31px;
    left: 609px;
  }
  .bar1-vietcombank {
    width: 6.5px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }
  .bar1-vietcombank:nth-child(1) {
    height: 7.5px;
    left: 2px;
  }
  .bar1-vietcombank:nth-child(2) {
    height: 11.5px;
    left: 12px;
  }
  .bar1-vietcombank:nth-child(3) {
    height: 15.5px;
    left: 22px;
  }
  .bar1-vietcombank:nth-child(4) {
    height: 19.5px;
    left: 32px;
  }

  .signal2-vietcombank {
    height: 20px;
    width: 40px;
    position: absolute;
    z-index: 1;
    top: 42px;
    left: 609px;
  }
  .bar2-vietcombank {
    width: 6.5px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }
  .bar2-vietcombank:nth-child(1) {
    height: 7.5px;
    left: 2px;
  }
  .bar2-vietcombank:nth-child(2) {
    height: 7.5px;
    left: 12px;
  }
  .bar2-vietcombank:nth-child(3) {
    height: 7.5px;
    left: 22px;
  }
  .bar2-vietcombank:nth-child(4) {
    height: 7.5px;
    left: 32px;
  }

  .price-vietcombank {
    position: absolute;
    top: 485px;
    color: #74bf1c;
    font-family: inherit;
    left: 0;
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    width: 782.5px;
  }
  .time-vietcombank {
    position: absolute;
    top: 555px;
    text-align: center;
    width: 782.5px;
    color: #899093;
    left: 0;
    z-index: 1;
    font-family: 'arial';
    font-size: 21px;
    font-weight: 600;
  }
  .recipient_name-vietcombank {
    position: absolute;
    top: 674px;
    text-align: right;
    width: 432px;
    color: white;
    left: 323px;
    z-index: 1;
    font-family: 'arial';
    font-size: 27px;
    font-weight: 600;
  }
  .recipient_number-vietcombank {
    position: absolute;
    top: 784px;
    text-align: right;
    width: 432px;
    color: white;
    left: 323px;
    z-index: 1;
    font-family: 'arial';
    font-size: 27px;
    font-weight: 600;
  }
  .trade_code-vietcombank {
    position: absolute;
    top: 892px;
    text-align: right;
    width: 432px;
    color: white;
    left: 323px;
    z-index: 1;
    font-family: 'arial';
    font-size: 27px;
    font-weight: 600;
  }
  .content-vietcombank {
    position: absolute;
    top: 999px;
    text-align: right;
    width: 432px;
    color: white;
    left: 323px;
    z-index: 1;
    font-size: 27px;
    font-weight: 600;
    font-family: sans-serif;
  }
  /* ------------------------------------- Css cho Vietinbank -----------------------------------*/
  .time-vietinbank {
    position: absolute;
    top: 138px;
    left: 200px;
    color: #0000007d;
    font-size: 12.8px;
    width: 178px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: sans-serif;
  }
  .img-time-vietinbank {
    position: absolute;
    top: 345px;
    left: 547px;
    color: #0000007d;
    font-size: 33px;
    width: 400px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: sans-serif;
  }
  .trade_code-vietinbank {
    position: absolute;
    top: 154px;
    left: 200px;
    color: #0000007d;
    font-size: 12.8px;
    width: 178px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: sans-serif;
  }
  .img-trade_code-vietinbank {
    position: absolute;
    top: 385px;
    left: 547px;
    color: #0000007d;
    font-size: 33px;
    width: 400px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: sans-serif;
  }
  .from_number-vietinbank {
    position: absolute;
    top: 283px;
    left: 197px;
    color: #14294a;
    font-size: 14px;
    width: 178px;
    font-weight: 700;
    z-index: 1;
    text-align: right;
    font-family: cursive;
  }
  .img-from_number-vietinbank {
    position: absolute;
    top: 709px;
    left: 377px;
    color: #14294a;
    font-size: 34px;
    width: 558px;
    font-weight: 700;
    z-index: 1;
    text-align: right;
    font-family: cursive;
  }
  .from_name-vietinbank {
    position: absolute;
    top: 303px;
    left: 148px;
    color: #14294a;
    font-size: 14.1px;
    width: 227px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: inherit;
  }
  .img-from_name-vietinbank {
    left: 377px;
    top: 757px;
    position: absolute;
    color: #14294a;
    font-size: 37.1px;
    width: 558px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: inherit;
  }
  .recipient_number-vietinbank {
    position: absolute;
    top: 337px;
    left: 148px;
    color: #14294a;
    font-size: 14px;
    width: 227px;
    font-weight: 700;
    z-index: 1;
    text-align: right;
    font-family: cursive;
  }
  .img-recipient_number-vietinbank {
    left: 377px;
    top: 842px;
    position: absolute;
    color: #14294a;
    font-size: 35.1px;
    width: 558px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: cursive;
  }
  .recipient_name-vietinbank {
    position: absolute;
    top: 357px;
    left: 148px;
    color: #14294a;
    font-size: 14.6px;
    width: 227px;
    font-weight: 700;
    z-index: 1;
    text-align: right;
    font-family: inherit;
  }
  .img-recipient_name-vietinbank {
    left: 377px;
    top: 890px;
    position: absolute;
    color: #14294a;
    font-size: 37.5px;
    width: 558px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: inherit;
  }
  .recipient_bank-vietinbank {
    position: absolute;
    top: 391px;
    left: 148px;
    color: #14294a;
    font-size: 13.7px;
    width: 227px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: inherit;
  }
  .img-recipient_bank-vietinbank {
    position: absolute;
    top: 982px;
    left: 377px;
    color: #14294a;
    font-size: 35px;
    width: 558px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: inherit;
    line-height: 1.35;
  }
  .recipient_total_number-vietinbank {
    position: absolute;
    top: 443px;
    left: 148px;
    color: #2d5d8d;
    font-size: 15.3px;
    width: 227px;
    font-weight: bold;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .img-recipient_total_number-vietinbank {
    position: absolute;
    top: 1108px;
    left: 377px;
    color: #2d5d8d;
    font-size: 37.3px;
    width: 558px;
    font-weight: bold;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .recipient_total_text-vietinbank {
    position: absolute;
    top: 463px;
    left: 148px;
    color: #2d5d8d;
    font-size: 14.1px;
    width: 227px;
    font-weight: bold;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .img-recipient_total_text-vietinbank {
    position: absolute;
    top: 1155px;
    left: 377px;
    color: #2d5d8d;
    font-size: 36.3px;
    width: 558px;
    font-weight: bold;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .text_free-vietinbank {
    position: absolute;
    top: 498px;
    left: 148px;
    color: #14294a;
    font-size: 14px;
    width: 227px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .img-text_free-vietinbank {
    position: absolute;
    color: #14294a;
    top: 1242px;
    left: 377px;
    width: 558px;
    font-size: 37px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .message-vietinbank {
    position: absolute;
    top: 535px;
    left: 148px;
    color: #14294a;
    font-size: 14.8px;
    width: 227px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }
  .img-message-vietinbank {
    position: absolute;
    top: 1337px;
    left: 377px;
    color: #14294a;
    font-size: 35.8px;
    width: 558px;
    font-weight: 600;
    z-index: 1;
    text-align: right;
    font-family: system-ui;
  }