/* Slide */
.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-right: -100px;
}

.carousel {
    width: 400px;
    margin: 0px auto;
}

.carousel-indicators {
    background-color: black;
}

.carousel-indicators [data-bs-target] {
    color: red;
    height: 30px;
    border-radius: 68%;
    text-indent: 0;
}

@font-face {
    font-family: 'din';
    src: url('font/NeueDINTrialSemiCond-Black-BF63c6170310507.otf') format('opentype');

}

@font-face {
    font-family: 'din1';
    src: url('font/NeueDINTrialSemiCond-Medium-BF63c6170a56c87.otf') format('opentype');
}

#loading-center {
    background: url('photo-bet/gif_loaderR43.png') no-repeat scroll 50%;
    background-size: 20%;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Form */
.form-label {
    margin: 0.8rem 0;
}

.form-control {
    float: right;
    text-align: center;
    display: inline-block;
    width: 60%;
    padding: 0.5rem 0.9rem;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--vz-body-color);
    background-color: var(--vz-input-bg);
    background-clip: padding-box;
    border: 1px solid var(--vz-input-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
        -webkit-box-shadow 0.15s ease-in-out;
}

.select {
    width: 60%;
    padding: 8px;
    margin: 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
    color: #555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #555 50%),
        linear-gradient(135deg, #555 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px), 100% 0;
    background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
    background-repeat: no-repeat;
    float: right;
    text-align: center;
}

/* End Form */
/* --------------------------------- Refresh ------------------------------------ */
.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.modal-content {
    width: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 20% auto;
}

/* Loading */
.overlay {
    background-color: #f9fbfe;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden !important;
    opacity: 0.8;
    right: 0;
    z-index: 999999;
}

.br_ngang1 {
    position: absolute;
    max-width: 5px;
    height: 55%;
    background: black;
    border-radius: 16px;
    left: 50%;
    padding: 0;
    margin-top: 35px;
}

@keyframes loading {
    0% {
        transform: scaleY(0.1);
    }

    50% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0.1);
    }
}

/* Sóng điện thoại sim 1 */
.background_white {
    background: white;
}

.background_black {
    background: black;
}

.background_invi {
    background: #cdcdcd;
}

.signal {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 24.5px;
    left: 450px;
    z-index: 1;
}

.bar {
    width: 4.5px;
    border-radius: 1.5px;
    position: absolute;
    bottom: 0;
}

.bar:nth-child(1) {
    height: 7px;
    left: 5px;
}

.bar:nth-child(2) {
    height: 11px;
    left: 12px;
}

.bar:nth-child(3) {
    height: 14px;
    left: 19px;
}

.bar:nth-child(4) {
    height: 17px;
    left: 26px;
}

.signal_invi {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 7.5px;
    left: 300px;
    z-index: 1;
}

/*----------------------------------------------------- Sóng điện thoại sim 2 ----------------------------------------------------- */
.signal-1 {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 3px;
    left: 300px;
    z-index: 1;
}

.bar-1 {
    width: 3px;
    border-radius: 1.2px;
    position: absolute;
    bottom: 0;
}

.bar-1:nth-child(1) {
    height: 4px;
    left: 4px;
}

.bar-1:nth-child(2) {
    height: 5px;
    left: 8.6px;
}

.bar-1:nth-child(3) {
    height: 6.3px;
    left: 13.2px;
}

.bar-1:nth-child(4) {
    height: 7.8px;
    left: 17.8px;
}

.signal2 {
    height: 20px;
    width: 40px;
    position: absolute;
    top: 8px;
    left: 300px;
    z-index: 1;
}

.bar2 {
    width: 3px;
    height: 3.7px;
    border-radius: 1.2px;
    position: absolute;
    bottom: 0;
}

.bar2:nth-child(1) {
    left: 4px;
}

.bar2:nth-child(2) {
    left: 8.6px;
}

.bar2:nth-child(3) {
    left: 13.2px;
}

.bar2:nth-child(4) {
    left: 17.8px;
}

.data_auto {
    color: red;
}

/* Wifi */
.wifi {
    width: 18px;
    position: absolute;
    top: 11px;
    left: 329px;
    z-index: 1;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.img_wifi {
    width: 100%;
}

/* ------------------- Pin ------------------ */
.battery-level {
    position: absolute;
    border-radius: 2px;
    height: 9.4px;
    width: 20.7px;
    top: 16.9px;
    left: 354px;
}

.ruler {
    position: fixed;
    top: 600px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
    z-index: 9999;
    pointer-events: none;
}

.ruler_doc {
    position: fixed;
    top: 0;
    left: 380px;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: black;
    z-index: 1;
}

.ruler_doc2 {
    position: fixed;
    top: 0;
    left: 800px;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: black;
    z-index: 1;
}

.container_box {
    display: flex;
}

.box {
    margin: 10px;
}

.demo_image-container {
    position: relative;
    width: 400px;
}

.create-image-container {
    position: relative;
    width: 400px;
}

.photo_style {
    width: 100%;
}

.image-caption {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 20px;
    color: #e6eaf2;
    font-weight: 500;
    font-family: system-ui;
}

.custom-icon {
    position: absolute;
    top: 11px;
    left: 67px;
    width: 10px;
}

.custom-icon2 {
    position: absolute;
    top: 13px;
    left: 67px;
    width: 10px;
}

/* --------------------------------------------------Css cho đơn cược bóng --------------------------------------------------- */
.img_icon_money {
    width: 21px;
    margin-bottom: 4px;
    display: inline-block;
}

.background_white {
    background: white;
}

.background_black {
    background: black;
}

.background_invi {
    background: #7a7a7a;
}

.div_warning {
    color: red;
    text-align: center;
}

h4 {
    text-align: center;
}

#new-bet-ball {
    position: relative;
}

.out-clock {
    position: absolute;
    top: 19px;
    left: 40px;
    font-size: 23px;
    color: white;
    font-family: sans-serif;
}

.out-battery {
    position: absolute;
    width: 18px;
    height: 17px;
    background: white;
    left: 527px;
    border-radius: 5px 0 0 5px;
    top: 27px;
}

.one_ve {
    position: absolute;
    font-family: din1;
    top: 174px;
    left: 24px;
    font-size: 17px;
}
.icon_money_total_bet {
    width: 18px;
}

/* -------------------- Đơn thứ 1 --------------------- */
.total_bet {
    position: absolute;
    top: 172px;
    left: 170px;
    font-family: din1;
}
.span_total_bet {
    font-size: 17px;
    margin-top: -21px;
    margin-left: 24px;
}
.duoi-tien {
    font-size: 13px;
}
.detail-bet {
    position: absolute;
    top: 218px;
    font-size: 23.5px;
    left: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.span-odds {
    font-family: din;
    font-size: 24px;
}
.out-rung {
    position: absolute;
    top: 254px;
    font-size: 20px;
    color: #56555a;
    left: 24px;
    font-family: sans-serif;
}
.time-dau {
    position: absolute;
    top: 287px;
    left: 24px;
    color: #616370;
    font-size: 17px;
    font-family: sans-serif;
}
.out-2-team {
    position: absolute;
    top: 337px;
    left: 24px;
    font-size: 23px;
    font-family: sans-serif;
}
.giai {
    position: absolute;
    top: 368px;
    left: 24px;
    font-size: 17px;
    color: #6e7176;
}
.price-bet {
    position: absolute;
    top: 433px;
    left: 24px;
    font-family: 'din1';
    font-size: 22px;
    color: #202124;
}
.win1 {
    position: absolute;
    top: 433px;
    left: 362px;
    font-family: 'din1';
    font-size: 22px;
    color: #ae0b3a;
    text-align: right;
    width: 200px;
}
.div_warning {
    color: red;
    text-align: center;
}

h4 {
    text-align: center;
}

#new-bet-ball {
    position: relative;
}

.out-clock {
    position: absolute;
    top: 19px;
    left: 40px;
    font-size: 23px;
    color: white;
}
.out-wifi {
    position: absolute;
    left: 490px;
    width: 25px;
    top: 26px;
}
.out-wifi img {
    width: 100%;
}
.out-wifi-2 {
    position: absolute;
    left: 488px;
    width: 25px;
    top: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.trade_code {
    position: absolute;
    top: 484px;
    left: 24px;
    font-size: 14px;
    text-align: left;
    width: 200px;
    font-weight: 500;
}
.time-bet {
    position: absolute;
    top: 484px;
    left: 361px;
    font-size: 14px;
    text-align: right;
    width: 200px;
    font-weight: 500;
    color: #62656c;
    font-family: system-ui;
}
/* -------------------- Đơn thứ 2 --------------------- */
.detail-bet-d2 {
    position: absolute;
    top: 537px;
    font-size: 23.5px;
    left: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.span-odds-d2 {
    font-family: din;
    font-size: 24px;
}
.out-rung-d2 {
    position: absolute;
    top: 573px;
    font-size: 20px;
    color: #56555a;
    left: 24px;
    font-family: sans-serif;
}
.time-dau-d2 {
    position: absolute;
    top: 606px;
    left: 24px;
    color: #616370;
    font-size: 17px;
    font-family: sans-serif;
}
.out-2-team-d2 {
    position: absolute;
    top: 656px;
    left: 24px;
    font-size: 23px;
    font-family: sans-serif;
}
.giai-d2 {
    position: absolute;
    top: 687px;
    left: 24px;
    font-size: 17px;
    color: #6e7176;
}
.price-bet-d2 {
    position: absolute;
    top: 752px;
    left: 24px;
    font-family: 'din1';
    font-size: 22px;
    color: #202124;
}
.win1-d2 {
    position: absolute;
    top: 752px;
    left: 362px;
    font-family: 'din1';
    font-size: 22px;
    color: #ae0b3a;
    text-align: right;
    width: 200px;
}
.trade_code-d2 {
    position: absolute;
    top: 803px;
    left: 24px;
    font-size: 14px;
    text-align: left;
    width: 200px;
    font-weight: 500;
}
.time-bet-d2 {
    position: absolute;
    top: 803px;
    left: 361px;
    font-size: 14px;
    text-align: right;
    width: 200px;
    font-weight: 500;
    color: #62656c;
    font-family: system-ui;
}
/* -------------------- Đơn thứ 3 --------------------- */
.detail-bet-d3 {
    position: absolute;
    top: 856px;
    font-size: 23.5px;
    left: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.span-odds-d3 {
    font-family: din;
    font-size: 24px;
}
.out-rung-d3 {
    position: absolute;
    top: 892px;
    font-size: 20px;
    color: #56555a;
    left: 24px;
    font-family: sans-serif;
}
.time-dau-d3 {
    position: absolute;
    top: 925px;
    left: 24px;
    color: #616370;
    font-size: 17px;
    font-family: sans-serif;
}
.out-2-team-d3 {
    position: absolute;
    top: 975px;
    left: 24px;
    font-size: 23px;
    font-family: sans-serif;
}
.giai-d3 {
    position: absolute;
    top: 1006px;
    left: 24px;
    font-size: 17px;
    color: #6e7176;
}
.price-bet-d3 {
    position: absolute;
    top: 1071px;
    left: 24px;
    font-family: 'din1';
    font-size: 22px;
    color: #202124;
}
.win1-d3 {
    position: absolute;
    top: 1071px;
    left: 362px;
    font-family: 'din1';
    font-size: 22px;
    color: #ae0b3a;
    text-align: right;
    width: 200px;
}
.trade_code-d3 {
    position: absolute;
    top: 1122px;
    left: 24px;
    font-size: 14px;
    text-align: left;
    width: 200px;
    font-weight: 500;
}
.time-bet-d3 {
    position: absolute;
    top: 1122px;
    left: 361px;
    font-size: 14px;
    text-align: right;
    width: 200px;
    font-weight: 500;
    color: #62656c;
    font-family: system-ui;
}
.mg-188 {
    position: absolute;
    top: 1221px;
    color: #cbd4e4;
    left: 259px;
    font-size: 17px;
    font-family: sans-serif;
}