/* --------------------------------- Refresh ------------------------------------ */
@font-face {
  font-family: 'iphone';
  src: url(../font/SFUIDisplay/SFUIDisplay-Black.otf)
}
@font-face {
  font-family: 'iphone-medium';
  src: url(../font/SFUIDisplay/SFUIDisplay-Medium.otf)
}
@font-face {
  font-family: 'iphone-regular';
  src: url(../font/SFUIDisplay/SFUIDisplay-Regular.otf)
}
@font-face {
  font-family: 'iphone-semibold';
  src: url(../font/SFUIDisplay/SFUIDisplay-Semibold.otf)
}
@font-face {
  font-family: 'iphone-light';
  src: url(../font/SFUIDisplay/SFUIDisplay-Light.ttf)
}
@font-face {
  font-family: 'iphone-heavy';
  src: url(../font/SFUIDisplay/SFUIDisplay-Heavy.otf)
}
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
        margin: 20%;
}
/* Loading */
.overlay {
  display:flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  .br_game {
    height: 3px;
    background-color: black;
    width: 90%;
    margin: 10px auto;
  }
  /* Loading */
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: #000000;
    opacity: 0.8;
    overflow: hidden;
  }
  .spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
  }
  .spinner div:first-child:after,
  .spinner div:first-child:before {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  .spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
    animation: spin 1.5s linear infinite;
  }
  @keyframes loading {
    0% {
      transform: scaleY(0.1);
    }
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0.1);
    }
  }
  /* End Loading */
/* --------------------------------- Refresh ------------------------------------ */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 20% auto;
}

/* Loading */
#loading {
  background-color: #f9fbfe;
  height: 100%;
  width: 100%;
  position: fixed;
  margin-top: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden !important;
  opacity: 0.8;
  right: 0;
  z-index: 999999;
}

#loading-center {
  background: url("../photo-withdrawal/gif_loaderJ12.png") no-repeat scroll 50%;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  justify-content: center;
  align-items: center;
}

@keyframes loading {
  0% {
      transform: scaleY(0.1);
  }

  50% {
      transform: scaleY(1);
  }

  100% {
      transform: scaleY(0.1);
  }
}

.data_auto {
  color: red;
}

/* ------------------ Form Label ----------------- */
.form-label {
  margin: 0.8rem 0;
  width: 85px;
}

.form-control {
  width: 100px;
  text-align: center;
  display: inline-block;
  padding: 0.5rem 0.9rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--vz-body-color);
  background-color: var(--vz-input-bg);
  background-clip: padding-box;
  border: 1px solid var(--vz-input-border);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out;
}

.select {
  font-weight: bold;
  width: 300px;
  padding: 8px;
  margin: 0 0 0 30px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 16px;
  color: green;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #555 50%),
      linear-gradient(135deg, #555 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  text-align: center;
}

.div_button {
  width: 60%;
  margin: 10px auto;
  font-size: 22px;
  font-weight: bold;
}

.tien_cuoc {
  text-align: center;
  width: 100%;
}
.label_tien_cuoc {
  font-size: 25px;
  padding: 0px 15px 0px 0px;
  width: max-content;
}
.input_tien_cuoc {
  width: 150px;
}
.result {
  text-align: center;
}
.total {
  font-weight: bold;
  color: red
}
.tien_co_the_thang {
  font-weight: bold;
  color: #03d115;
}